<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rails Bootstrap" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper">

      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <!-- Top Nav -->
        <%= render 'layouts/navigation' %>

        <!-- Sidebar -->
        <%= render 'layouts/sidebar' %>

      </nav>
      <div id="page-wrapper">
        <div class="container-fluid">
            <%= render 'layouts/messages' %>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Page Title</h1>
                </div>
            </div>

            <%= yield %>

        </div>
    </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
